* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-clr: #222;
    --box-bg-clr: #000;
    --highlighg-effect-clr: #111;
}

body {
    display: grid;
    place-items: center;
    min-height: 100svh;
    background-color: var(--bg-clr);
}

.card {
    width: 25rem;
    height: 25rem;
    /* background: var(--box-bg-clr); */
    background: linear-gradient(
        to bottom right,
        var(--highlighg-effect-clr), 
        var(--box-bg-clr)
    );
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 1px 1px 3px #000;

    transition: all 200ms ease;

    position: relative;
    overflow: hidden;

    & .gloss {
        position: absolute;
        inset: 0;
        opacity: 0;
        border-radius: 100%;
        background: radial-gradient(
            circle,
            rgba(255, 255, 255, .25) 0%,
            rgba(255, 255, 255, 0) 50%,
            rgba(255, 255, 255, 0) 100%
        );
        will-change: opacity;
        /* will-change tells the browser to do some rendering on which property that will change */
        transition: opacity 200ms ease-out;
    }
}